*{
    margin: auto;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
}

.navbar{
width: auto;
height: auto;
background-image: linear-gradient(rgb(15, 162, 215));
background-size: cover;
background-position-x: center;
}

